
* {
  box-sizing: border-box;
  border: thin solid red;
  margin: 0;
}
html {
  padding: 0;
}
menu{
  padding-left: 0;
}
#menu{
  position: relative;
  background-color: black;
  color: white;
}

#menu > ul {
  text-align: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menu > ul > li {
  display: inline-block;
  padding: 0.5em;
  padding: 1em;
  margin-right: 1em;
}

#arduino{
  float: left;
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;

}

#intro{
  position: relative;
  width: 100%;
  height: 28em;
  background-color: #f27108;
  padding: 3em;
}

#intro input{
  margin-top: 2em;
  border-radius: 25px;
  background-color: black;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;

}

#intro img{
  position: relative;
  float: right;
  margin: ;
}

#titulo{
  font-weight: bold;
  font-size: 25px;
  width: 250px;
  margin-top: 3em;
}

#subtitulo{
  font-size: 15px;
  color: black;
  margin-top: 2em;
  width: 700px;
}

#pasos{

}

#titulo-pasos{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 2em;

}

#grid{
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.grid-content{
text-align: center;
padding: 2em;
}

.circle{

display: inline-block;
padding-top: 40px;

height:100px;
width:100px;
background:white
-moz-border-radius:50px;
-webkit-border-radius:50px;
border-radius:50px;
text-align: center;
}
